<!DOCTYPE html>
<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3 ">
            <h3><%= listing.title %> </h3>
        </div>
        <div class="card col-6 offset-3 show-card listing-card">
            <div class="show-card-img">                
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            </div>
            <div class="card-body">
                <p class="card-text">
                    <%= listing.description %> <br>
                    &#8377; <%= listing.price.toLocaleString("en-In") %> <br>
                    <%= listing.location %> <br>
                    <%= listing.country %>
                </p>
            </div>
        </div>
        <div class="btns ">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
            <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark offset-4 ">Delete</button>
            </form>            
        </div>
        <!-- --------------- review ------------- -->
        <div class="col-8 offset-3  ">
            <hr>
            <h4>Leave a Review</h4>
            <form method="post" action="/listings/<%= listing._id %>/reviews" class="needs-validation" novalidate>
                <div class="mb-3 mt-3">
                    <label class="form-lable" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-lable" for="comment">Comment</label>
                    <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="3" required></textarea>
                    <div class="invalid-feedback">Please add some comments for review</div>
                </div>
                <button class="btn btn-outline-dark mb-3">Submit</button>
            </form>
            <p><b>All Reviews</b></p>
            <div class="row">
                <% for (const review of listing.reviews) { %>
                    <div class="card col-5 mb-3 ms-3">
                        <div class="card-body mb-2">
                            <h5 class="card-title">Akash Deep</h5>
                            <p class="card-text mb-1"><%= review.comment %></p>
                            <p class="card-text"><%= review.rating %> Stars</p>
                        </div>
                        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-1" method="post">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                <% } %>                
            </div>
        </div>
    </div>
</body>
